<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asse.sweapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Services"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserServices"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Piza_houses"
            android:label="@string/title_activity_piza_houses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hospital"
            android:label="@string/title_activity_hospital"
            android:parentActivityName=".UserServices"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asse.sweapp.UserServices" />
        </activity>
    </application>

</manifest>
